:root {
  /* Gray */
  --gray-50: 210 40% 98%;
  --gray-100: 210 40% 96%;
  --gray-200: 214 32% 91%;
  --gray-300: 213 27% 84%;
  --gray-400: 215 20% 65%;
  --gray-500: 215 16% 47%;
  --gray-600: 215 19% 35%;
  --gray-700: 215 25% 27%;
  --gray-800: 217 33% 17%;
  --gray-900: 222 47% 11%;
  --gray-950: 229 84% 5%;

  /* Blue */
  --blue-50: 214 100% 97%;
  --blue-100: 214 95% 93%;
  --blue-200: 213 97% 87%;
  --blue-300: 212 96% 78%;
  --blue-400: 213 94% 68%;
  --blue-500: 217 91% 60%;
  --blue-600: 221 83% 53%;
  --blue-700: 224 76% 48%;
  --blue-800: 226 71% 40%;
  --blue-900: 224 64% 33%;
  --blue-950: 226 57% 21%;

  /* Green */
  --green-50: 152 81% 96%;
  --green-100: 149 80% 90%;
  --green-200: 152 76% 80%;
  --green-300: 156 72% 67%;
  --green-400: 158 64% 52%;
  --green-500: 160 84% 39%;
  --green-600: 161 94% 30%;
  --green-700: 163 94% 24%;
  --green-800: 163 88% 20%;
  --green-900: 164 86% 16%;
  --green-950: 166 91% 9%;

  /* Red */
  --red-50: 355 100% 97%;
  --red-100: 356 100% 95%;
  --red-200: 353 96% 90%;
  --red-300: 354 96% 82%;
  --red-400: 351 95% 71%;
  --red-500: 349 89% 60%;
  --red-600: 346 77% 50%;
  --red-700: 345 83% 41%;
  --red-800: 343 80% 35%;
  --red-900: 342 75% 30%;
  --red-950: 343 88% 16%;

  /* Amber */
  --amber-50: 48 100% 96%;
  --amber-100: 48 96% 89%;
  --amber-200: 48 97% 77%;
  --amber-300: 46 97% 65%;
  --amber-400: 43 96% 56%;
  --amber-500: 38 92% 50%;
  --amber-600: 32 95% 44%;
  --amber-700: 26 90% 37%;
  --amber-800: 23 83% 31%;
  --amber-900: 22 78% 26%;
  --amber-950: 21 92% 14%;

  /* Violet */
  --violet-50: 250 100% 98%;
  --violet-100: 251 91% 95%;
  --violet-200: 251 95% 92%;
  --violet-300: 252 95% 85%;
  --violet-400: 255 92% 76%;
  --violet-500: 258 90% 66%;
  --violet-600: 262 83% 58%;
  --violet-700: 263 70% 50%;
  --violet-800: 263 69% 42%;
  --violet-900: 264 67% 35%;
  --violet-950: 261 73% 23%;

  /* Rose */
  --rose-50: 356 100% 97%;
  --rose-100: 356 100% 95%;
  --rose-200: 353 96% 90%;
  --rose-300: 353 95% 82%;
  --rose-400: 351 95% 71%;
  --rose-500: 350 89% 60%;
  --rose-600: 347 77% 50%;
  --rose-700: 345 83% 41%;
  --rose-800: 343 80% 35%;
  --rose-900: 342 75% 30%;
  --rose-950: 343 88% 16%;

  --radius: 0.5rem;
}
