@layer components {
  .dr-input-otp {
    @apply disabled:cursor-not-allowed;
  }

  .dr-input-otp-container {
    @apply flex items-center gap-2 has-[:disabled]:opacity-50;
  }

  .dr-input-otp-group {
    @apply flex items-center;
  }

  .dr-input-otp-slot {
    @apply border-input relative flex aspect-square w-[var(--density-cell)] items-center justify-center border-y border-r text-sm transition-all first:rounded-l-md first:border-l last:rounded-r-md;
  }

  .dr-input-otp-slot[data-active] {
    z-index: 1;
    border-color: hsl(var(--primary));
    box-shadow: 0 0 0 1px hsl(var(--primary));
  }
}
