@layer components {
  .dr-collapsible-content {
    @apply overflow-hidden;
  }

  .dr-collapsible-content[data-state="open"] {
    animation: dr-collapsible-down 0.2s ease-out;
  }

  .dr-collapsible-content[data-state="closed"] {
    animation: dr-collapsible-up 0.2s ease-out;
  }

  @keyframes dr-collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--collapsible-content-height);
    }
  }

  @keyframes dr-collapsible-up {
    from {
      height: var(--collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}
